**/.DS_Store
.config/zed
.config/go
.config/ttyper
.config/op
.config/raycast
.config/JetBrains
.config/pulse
.config/neofetch
.config/github-copilot
.config/fontforge
.config/glab-cli/
.config/gh-copilot/
.config/gh/
.config/git/
.config/pip/
.config/colima/
.config/aerospace
.config/nodemon.json
.config/mnvim
wireshark
